@model Projekt.Models.Contact

@{
    ViewBag.Title = "Kontakt";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Wydział Informatyki Politechniki Białostockiej<br />
    Polska, Wiejska 45A 15-351 Białystok<br />
    <abbr title="Telefon">Telefon:</abbr>
    666-666-666
</address>

<address>
    <strong>Wsparcie:</strong>   <a href="mailto:wsparcie@example.com">wsparcie@cebulex.pl</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@example.com">marketing@cebulex.pl</a><br />
    <strong>Zakupy hurtowe:</strong> <a href="mailto:hurt@example.com">hurt@cebulex.pl</a>
</address>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ContactName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ContactMessage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ContactMessage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContactMessage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
